.TeamDetails .main-headding {
    height: 60%;
}

.TeamDetails .teamContent {
    color: #ffffff;
    background: linear-gradient(
        90deg,
        rgba(8, 33, 111, 1) 0%,
        rgb(10, 65, 184) 33%,
        rgba(0, 212, 255, 1) 100%
    );
    align-items: center;
    border-radius: 15px;
    letter-spacing: 1.2px;
}

.TeamDetails .social {
    text-align: center;
    padding: 20px 0;
}
