.TeamDetails .main-headding {
    height: 60%;
}

.TeamDetails .banner-img {
    width: 100%;
}

.team-content-area {
    color: #ffffff;
    background: linear-gradient(
        90deg,
        rgba(8, 33, 111, 1) 0%,
        rgb(10, 65, 184) 33%,
        rgba(0, 212, 255, 1) 100%
    );
}
.TeamDetails .team-content {
    align-items: center;
    letter-spacing: 1.2px;
}

.TeamDetails .social {
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 767px) {
    .TeamDetails .team-content {
        text-align: center;
    }
    .TeamDetails .team-content .col-md-6:nth-child(1) {
        margin-bottom: 20px;
    }
}
