.TeamDetails .main-headding {
    height: 60%;
}

.TeamDetails .banner-img {
    width: 100%;
}

.team-content-area {
    background: linear-gradient(
        90deg,
        rgb(255, 255, 255) 00%,
        rgb(2, 209, 250) 100%
    );
}
.TeamDetails .team-content {
    align-items: center;
    letter-spacing: 1.2px;
}

.TeamDetails .social {
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 767px) {
    .TeamDetails .team-content {
        text-align: center;
    }
    .TeamDetails .team-content .col-md-6:nth-child(1) {
        margin-bottom: 20px;
    }
}
