.TeamCard {
    text-align: center;
    color: #ffffff;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(13, 44, 110, 1) 33%,
        rgba(0, 212, 255, 1) 100%
    );
    border-radius: 10px;
    border: none !important;
    box-shadow: 3px 3px 20px 0 #000000;
    transition: 0.3s;
}

.TeamCard:hover {
    box-shadow: 0 0 0 0 #000000;
}

.TeamCard .team-img {
    width: 150px;
    margin: auto;
}
