.Header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../../images/gallery-banner.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    min-height: 300px;
    text-align: center;
    position: relative;
}

@media (max-width: 767px) {
    .Header {
        height: 300px;
    }
}
