.social-icons {
    width: 35px;
    height: 35px;
    line-height: 38px;
    color: #ffffff;
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
}

.social-icons:hover {
    color: #ffffff;
}
